<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sports Store</title>
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/css/*.css" />
    <link rel="stylesheet" asp-href-include="/lib/font-awesome/css/*.css" />
</head>
<body>
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <div class="row">
            <a class="col navbar-brand" href="#">SPORTS STORE</a>
                @await Component.InvokeAsync("CartSummary")
        </div>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-5">
            @RenderBody()
        </div>
    </div>
</body>
</html>
